fieldset {
    height: 300px;
    width: 400px;
    padding: 20px !important;
    border: 2px solid #333 !important;
}

legend {
    width: min-content !important;
    padding: 0px 10px !important;
    margin-left: 10px;
    margin-bottom: 10px !important;
    border: none !important;
    color: #333 !important;
    font-weight: bold;
    text-wrap: nowrap;
}

td {
    padding: 0 !important;
}

#apply {
    width: 100%;
}

.tenderedBox {
    width: fit-content !important;
    margin: 40px auto !important;
    border-radius: 5px;
    text-wrap: nowrap;
}

.switch {
    width: 4em !important;
    height: 2em !important;
}

.slider:before {
    height: 1.4em !important;
    width: 1.4em !important;
    bottom: 0.25em !important;
    background-color: #333 !important;
}

.darkmode-slider:before {
    background-color: white !important;
}

.switch input:checked + .slider:before {
    transform: translateX(1.9em) !important;
}

.option-text {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.option-text:hover::after {
    width: fit-content !important;
    font-size: 14px;
    text-wrap: nowrap !important;
}