body {
    width: 320px;
    background-color: #1f1f1f;
}

h3 {
    margin: 0;
    padding-bottom: 5px;
    color: white;
}

#logo {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.header,
.footer {
    display: flex;
}

.header {
    height: 24px;
}

.footer {
    justify-content: center;
    margin-top: 10px;
    margin-left: 140px;
}

.menu {
    white-space: nowrap;
    border: 1px solid #363636;
    border-radius: 6px;
    padding: 5px;
}

.settings-body p {
    margin: 4px 0px;
    color: whitesmoke;
}

.settings-footer {
    margin: 5px 0;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#exportButton {
    width: 100%;
    cursor: pointer;
}

#backupCodeInput {
    font-size: 12px;
    width: 60%;
    margin-right: 8px;
    outline: none;
    background-color: buttonface;
}

#backupCodeInput.invalid-placeholder::placeholder {
    color: crimson;
    font-weight: 600;
}

#backupCodeInput.valid-placeholder::placeholder {
    color: green;
    font-weight: 600;
}

#importButton {
    width: 35%;
    cursor: pointer;
}

.success {
    animation: successBlink 1s;
    background-color: yellowgreen;
    padding: 2px;
    border-color: gray;
    border-radius: 2px;
    border-width: 1px;
    border-style: outset;
}

@keyframes successBlink {
    100% {
        background-color: buttonface;
    }
}

.table-left {
    padding-right: 20px;
}

.option-text {
    display: inline-block;
    position: relative;
    text-align: left;
    color: white;
    cursor: default;
}

.option-text:hover::after {
    width: 200px;
    white-space: pre-line;
    text-wrap: wrap;
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    display: block;
    z-index: 1;
}

.option-text:last-child,
.option-toggle:last-child,
.config:last-child {
    padding-bottom: 0;
}

.option-toggle,
.config {
    padding-bottom: 10px;
}

.option-text {
    padding-bottom: 20px;
}

.feature-status {
    font-size: smaller;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.status-broken {
    color: red;
}

.status-beta {
    color: greenyellow;
}

.status-new {
    color: gold;
}

#apply {
    font-size: 15px;
    padding: 5px 20px;
    letter-spacing: 1.5px;
    position: relative;
    font-family: inherit;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 21px;
    border: 2px solid #0974f1;
    background: linear-gradient(to right, #0975f11a 1%, transparent 40%, transparent 60%, #0975f11a 100%);
    color: #0974f1;
    box-shadow: inset 0 0 10px #0975f166, 0 0 9px 3px #0975f11a;
    cursor: pointer;
}

#apply:hover {
    color: #1cbfff;
    box-shadow: inset 0 0 10px #0975f199, 0 0 9px 3px #0975f133;
    letter-spacing: 3px;
}

#apply:before {
    content: "";
    position: absolute;
    left: -60px;
    width: 60px;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, #0975f11a 40%, #0975f11a 60%, transparent 100%);
}

#apply:hover:before {
    transform: translateX(150px);
}

.config {
    width: 2.5em;
    height: 2.1em;
    padding-left: 5px;
    margin-right: 5px;
}

.config-button {
    cursor: pointer;
    position: relative;
    width: 2.5em;
    height: 2em;
    border: none;
    background: #1f1f1f;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    gap: 0.4em;
    flex-direction: column;
    transition-duration: 0.5s;
}

.config-button:hover {
    background: #2e2e2e;
}

.similar-line {
    height: 0.2em;
    background: #fff;
    border-radius: 1em;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.line-1 {
    width: 40%;
}

.line-2 {
    width: 70%;
}

.line-3 {
    width: 90%;
}

.config-button:hover .line-1 {
    width: 90%;
}

.config-button:hover .line-2 {
    width: 70%;
}

.config-button:hover .line-3 {
    width: 40%;
}
