.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.625em;
    height: 1.5em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 1px solid #414141;
    border-radius: 37.5px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.05em;
    width: 1.05em;
    left: 0.30em;
    bottom: 0.15em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
    box-shadow: 0 0 10px #0975f1cc;
    border: 1px solid #0974f1;
}

.switch input:checked + .slider:before {
    transform: translateX(0.7875em);
}

.option-text {
    display: inline-block;
    position: relative;
    text-align: left;
    color: white;
    cursor: text;
}

.option-text:hover::after {
    width: 200px;
    white-space: pre-line;
    text-wrap: wrap;
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    display: block;
    z-index: 1;
}