@font-face {
    font-family: 'Gotham';
    src: url("/../assets/fonts/gotham.ttf");
}

body {
    font-family: 'Gotham';
    background-color: #4e4e4e;
    margin: 0;
}

h1, h2 {
    display: inline-block;
    color: whitesmoke;
    padding-left: 10px;
    margin: 5px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 18px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.current-page {
    background-color: #5e5e5e;
    padding: 5px;
    padding-right: 10px;
    border-radius: 15px 15px 0 0;
}

#logo {
    height: 48px;
    width: 48px;
    border-radius: 2px;
    margin: 5px;
}

.header{
    height: min-content;
    display: flex;
    align-items: flex-end;
    background-color: #1f1f1f;
}

.bip-tables {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

table, th, td {
    min-width: fit-content;
    margin: 40px;
    border-collapse: collapse;
}

th {
    font-size: 24px;
    padding: 10px 20px;
    color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: #414141;
}

tr:last-child {
    background-color: #4e4e4e;
}

td {
    border: 2px solid whitesmoke;
    font-size: 18px;
    color: whitesmoke;
    padding: 5px 20px;
}

td:nth-child(3n) {
    border: none;
    padding: 5px;
    background-color: #4e4e4e;
}

.color-head,
.title-head {
    border: 2px solid whitesmoke;
}

.missing-vals {
    padding: 20px;
    color: red;
    text-align: center;
    font-size: 36px;
}

::-webkit-color-swatch{
    border: none;
}